**/__pycache__/
**/*.py[cod]
**/*.egg-info/

.venv/
venv/
ENV/
env/

.env
.env.*

.git/
.gitignore
.gitattributes

.idea/
.vscode/
*.swp
.DS_Store

*.log
logs/

.pytest_cache/
.coverage
htmlcov/

**/*.md
!section1/README.md

section2/Dockerfile
section2/docker-compose*.yml
section2/.dockerignore
section3/
