[defaults]
inventory = inventories/local/hosts.yml
roles_path = roles
collections_path = collections
retry_files_enabled = False
forks = 10
timeout = 30
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
